<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="<%- href %>">
  <style type="text/css"> 
  /* body {height: <%- css %>px;} */
  /* div {
    background-image: url('javascript:alert\(1\);');
  } */
   </style>
</head>
<body>
  <div style="background-image: url(javascript:alert(/XSS/))"></div>
  <div style="color: #fff;">hhhhhh</div>
  <div style="color: #\66\66\66;">hhhhhh</div>
  <!-- <div style="background-image: url( <%- css %>);"></div> -->
  <a 
  href="<%- href %>">
  demo0
  </a>
  <div width=<%- width %>> …content… </div>
  <script>
    // const 
    var message = "<%- js %>";

    var ms = '\x3c'
  </script>
</body>
</html>